nav{
    background-color: #1E1E1E;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px; 
    align-items: center;
    justify-content: center;
}
.navbar-links li{
    list-style: none;
}
.navbar-links a{
    list-style: none;
    cursor: pointer;
    color: #ffff;
    text-decoration: none;
}
.navbar-links a:hover{
    color: #EA6614;
}

/* menu mobile */
nav .active{
  width: 50%;
  height: 100%;
  
}

.menu-icon {
  font-size: 30px;
  color: #1E1E1E;
  cursor: pointer;
  display: none; 
  position:fixed;
  left: 20px;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 468px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #1E1E1E;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 20px 0;
  }

  .navbar-links.active {
    display: flex;
  }
}